<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.ApplicationTitle</title>
    <link rel="stylesheet" href="cms/css/bootstrap.min.css">
    <script src="cms/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<header>

</header>
<aside>

</aside>
<main>
    @RenderBody()
</main>
<aside>

</aside>
</body>
</html>
