<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<h5>New layout from DarkTheme</h5>
<div>
    @RenderBody()
</div>
</body>
</html>
