html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.dialog-off-canvas-main-canvas {
  height:100%;
  width: 100%;
}

.teama-page-viewport {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#teama-header {
  padding: 5px;
}

#page-content {
  flex-grow: 1;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
}

#teama-navbar {
  height: 60px;
}

#teama-site-logo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:50px;
  height: 50px;
  cursor: pointer;
}

.teama-aside-expandable {
  width:10%;
  transition: width 500ms ease;
}

.teama-aside-expandable.shrink {
  width: 70px;
}

.teama-page-content {
  flex-grow: 1;
}
