.idea
/package-lock.json
/PHP/teama/wp-content/debug.log
/packages/frontend/node_modules/
/packages/backend-data/dist/
/packages/backend-data/node_modules/.bin/
/packages/backend-data-rules/dist/
/packages/backend-data-rules/node_modules/
/packages/backend-client/node_modules/
/packages/backend-client/dist/
/packages/backend/uploads/
/packages/backend/test/uploads/
/packages/backend/node_modules/
/packages/backend/dist/
/node_modules/
/packages/backend/data/metadata-copy.csv
/packages/backend/data/users-copy.csv
/PHP/drupal-teama/vendor/
/PHP/joomla-teama/vendor/
/PHP/joomla-teama/composer.lock
/composer.lock
/vendor/
/PHP/joomla-teama/administrator/logs
