@using BlackSheep.Core.Services;

@model BlackSheep.CMS.Models.CMSDocument

@{
    ViewBag.Title = Model?.Title;
    Layout = Model != null && !string.IsNullOrWhiteSpace(Model.Layout)?
        Model.Layout:
        "_Layout";
}

<h2>@ViewBag.Title</h2>

<header>
    @foreach (var component in Model.Headers.Content)
    {
        @await Component.InvokeAsync(component.BlocType, component.Properties)
    }
</header>
<main>
    @foreach (var component in Model.Bodies.Content)
    {
        @await Component.InvokeAsync(component.BlocType, component.Properties)
    }
</main>
<footer>
    @foreach (var component in Model.Footers.Content)
    {
        @await Component.InvokeAsync(component.BlocType, component.Properties)
    }
</footer>


