.teama-news-card {
  width: calc(33% - 10px);
  min-height: 212px;
  margin: 5px;
  transition: transform 500ms ease-in-out;
}

.teama-news-card:hover {
  transform: scale(1.02,1.02);
  transform-origin: center;
  border: solid 1px #dc3545;
}

.teama-news-card .badge {
  width: fit-content;
  align-self: flex-end;
  margin: 5px;
}

.teama-section-news {
  display: flex;
  flex-wrap: wrap;
}

.link-to-all-news {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(33% - 10px);
  text-align: center;
}

.teama-section-title {
  display: flex;
  margin-bottom: 25px;
  font-family: 'Army';
  font-size: 35px;
  background: #dc3545;
  padding-left: 15px;
  color: white;
  min-height: 52px;
  height: 52px;
  overflow: hidden;
  align-items: center;
  width: 100%;
}

.teama-section-title-text {
  width: 50%;
  white-space: nowrap;
}

.teama-section-title-decoration {
  width: 51%;
  background-color: white;
  height: 500px;
  margin-left: 10px;
}

.teama-section-title-decoration.sm {
  width: 20px;
}

.teama-section {
  width:calc(100% - 30px);
  min-height:523px;
  margin:15px;
}

.teama-toolbar {
  width: 100%;
  background-color: rgb(33, 37, 41);
  z-index: 5;
  min-height: 48px;
  display: flex;
  align-items: flex-start;
  padding-top: 5px;
  padding-bottom: 10px;
}

.teama-toolbar > .btn {
  margin-right: 5px;
  margin-left: 5px;
}

#searchForm {
  align-self: flex-start;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

#searchForm > div.js-stools {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  height: 38px;
  margin-right: auto;
  margin-left: auto;
  transition: height 200ms linear;
  overflow-y: hidden;
}

#searchForm > div.js-stools.expanded {
  height: 175px;
}

#searchForm > div.js-stools > .js-stools-container-bar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  max-height: 38px;
}

#searchForm > div.js-stools > .js-stools-container-bar > .btn-toolbar {
  width: 100%;
  justify-content: center;
}

#searchForm > div.js-stools > .js-stools-container-bar > .btn-toolbar > .btn-group {
  margin-right: 2px;
  margin-left: 2px;
}

#searchForm > div.js-stools > div.js-stools-container-filters {
  margin-top: 15px;
  display: flex;
  width: auto;
  justify-content: space-evenly;
}

.teama-filter-label {
  color: white;
}

#filter_tag {
  height:97px;
}

.choices__button_joomla {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.choices__button_joomla:hover {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
}