.teama-news-card {
  width: calc(30% - 10px);
  min-height: 212px;
  margin: 5px;
  transition: transform 500ms ease-in-out;
}

.teama-news-card:hover {
  transform: scale(1.02,1.02);
  transform-origin: center;
  border: solid 1px #dc3545;
}

.teama-section-news {
  display: flex;
  flex-wrap: wrap;
}

.link-to-all-news {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(30% - 10px);
}

.teama-section-title {
  display: flex;
  margin-bottom: 25px;
  font-family: 'Army';
  font-size: 35px;
  background: #dc3545;
  padding-left: 15px;
  color: white;
  height: 52px;
  overflow: hidden;
  align-items: center;
}

.teama-section-title-text {
  width: 50%;
  white-space: nowrap;
}

.teama-section-title-decoration {
  width: 51%;
  background-color: white;
  height: 500px;
  margin-left: 10px;
}

.teama-section-title-decoration.sm {
  width: 20px;
}

.teama-section {
  width:100%;
  min-height:523px;
}