{#
/**
 * @file
 * Team A - Branding implementation
  *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
  {% if site_logo %}
    <div id="teama-site-logo" style="background-image: url('{{ site_logo }}')" ></div>
  {% endif %}
  <div id="teama-site-name" title="{{ site_slogan }}">
    {{ site_name }}
  </div>
