.teama-allnews-title {
  text-transform: uppercase;
  font-family: 'Army';
  background: #dc3545;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 3.25rem;
  max-height: 4.25rem;
  align-items: center;
  align-items: center;
  margin-bottom: 50px;
  overflow: hidden;
}

.teama-allnews-title-text {
  margin-left: auto;
  margin-right: 0;
}

.teama-allnews-title > .teama-section-title-decoration {
  margin-right: 15px;
  margin-left: auto;
}

.teama-section-news.lg {
  width:100%;
}

#teama-news-tmpl {
  display: none;
}

.teama-news-card {
  transition: all 500ms ease-in-out;
  transition-property: transform, opacity;
  opacity: 1;
}

.teama-news-card.hidden {
  opacity: 0;
}