.teama-news-card {
  width: calc(33% - 10px);
  min-height: 212px;
  margin: 5px;
  transition: transform 500ms ease-in-out;
}

.teama-news-card:hover {
  transform: scale(1.02,1.02);
  transform-origin: center;
  border: solid 1px #dc3545;
}

.teama-section-news {
  display: flex;
  flex-wrap: wrap;
}

.link-to-all-news {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(33% - 10px);
}

.teama-section-title {
  display: flex;
  margin-bottom: 25px;
  font-family: 'Army';
  font-size: 35px;
  background: #dc3545;
  padding-left: 15px;
  color: white;
  min-height: 52px;
  height: 52px;
  overflow: hidden;
  align-items: center;
  width: 100%;
}

.teama-section-title-text {
  width: 50%;
  white-space: nowrap;
}

.teama-section-title-decoration {
  width: 51%;
  background-color: white;
  height: 500px;
  margin-left: 10px;
}

.teama-section-title-decoration.sm {
  width: 20px;
}

.teama-section {
  width:calc(100% - 30px);
  min-height:523px;
  margin:15px;
}

.teama-toolbar {
  width: 100%;
  background-color: rgb(33, 37, 41);
  height: 61px;
  z-index: 5;
  min-height: 61px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.teama-toolbar > .btn {
  margin-right: 5px;
  margin-left: 5px;
}