.teama-helprequest-viewport {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 56px;
}

.teama-section-helprequest-creation {
    overflow-x: hidden;
    overflow-y: auto;
    width:75vw;
}

.teama-section-title {
    font-size: xxx-large;
}

.control-label label,
.modal-title {
    color: black;
}

.teama-help-request-objectives-displayed {
    display: flex;
    flex-wrap: wrap;
}

.teama-help-request-objectives-displayed .card {
    margin:5px;
}

.objective-photo {
   object-fit: contain;
   object-position: center;
}

.add-objective-modal-title {
    font-weight: bolder;
}

#new-objective-form {
    margin:15px;
}

.card-template {
    display: none;
}